.container{
    background-color: rgb(8, 239, 239);
    height: 80vh;
    width: 80vw;
}

.box{
    width: 34px;
    height: 45px;
    
    animation: anime;
    /* animation-duration: 2s; */
    /* animation-iteration-count: 3; */
    /* animation-timing-function: ease-out; */
    /* animation-delay: 1s; */
    /* animation-direction: alternate-reverse; */
    /* animation-play-state:; can be set to running and then when replaced the running with paused we can pause the element object at the place at it was during the animation */
    animation: anime 3s ease-in-out  3 alternate-reverse,
    anime2 3s ease-in-out 3s 1;
}

@keyframes anime {
    from{
        background-color: darkgreen;
    }
    to{
        transform: translateX(1000px);
        background-color: rebeccapurple;
    }
}

@keyframes anime2 {
    0%{transform: rotate(100deg);}
    20%{transform: rotate(200deg);}
    50%{transform: rotate(220deg);}
    100%{transform: rotate(330deg);}
}